<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tk.mygod.portal.helper.nju">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <application android:name=".App" android:label="@string/app_name" android:icon="@drawable/logo"
                 android:theme="@style/Theme.Material" android:allowBackup="true"
                 android:fullBackupContent="@xml/backup_scheme">
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name=".NoticeActivity"
                  android:label="@string/notices"
                  android:launchMode="singleTask"
                  android:parentActivityName=".MainActivity"
        />
        <activity android:name=".OnlineEntryActivity"
                  android:label="@string/network_available_sign_in"
                  android:excludeFromRecents="true"
                  android:taskAffinity=""
                  android:theme="@style/Theme.Material.Dialog">
            <intent-filter>
                <action android:name="tk.mygod.portal.helper.nju.OnlineEntryActivity.ACTION_SHOW"/>
                <action android:name="tk.mygod.portal.helper.nju.OnlineEntryActivity.ACTION_SHOW_LEGACY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PortalActivity" android:exported="true" android:label="@string/portal_activity_url"
                  android:launchMode="singleTask"/>
        <activity android:name=".UsageActivity"
                  android:label="@string/settings_status_usage_title"
                  android:launchMode="singleTask"
                  android:parentActivityName=".MainActivity"
        />
        <activity android:name=".LogInOutShortcut"
                  android:label="@string/login_logout"
                  android:noHistory="true"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:taskAffinity=""
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name="be.mygod.content.StubProvider"
                  android:authorities="be.mygod.portal.helper.nju.provider"
                  android:label="@string/app_name"
                  android:exported="false"
                  android:syncable="true"/>
        <service android:name="be.mygod.accounts.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:name=".NoticeManager" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter"/>
        </service>
        <service android:name=".NetworkMonitor"/>
        <receiver android:name=".BalanceManager"
                  android:exported="false">
            <intent-filter>
                <action android:name="tk.mygod.portal.helper.nju.BalanceManager.MUTE_MONTH"/>
                <action android:name="tk.mygod.portal.helper.nju.BalanceManager.MUTE_FOREVER"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkMonitorListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
